<div class="container mt-3">
    <div class="main-body font-weight-bold">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img alt="Admin" class="rounded-circle"
                                 src="https://bootdey.com/img/Content/avatar/avatar7.png" width="150">
                            <div class="mt-3">
                                <h4><span data-bind="text: firstName"></span></h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <!--                               <button class="btn btn-primary">Follow</button>
                                                               <button class="btn btn-outline-primary">Message</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0 font-weight-bold">
                                <svg class="feather feather-instagram mr-2 icon-inline text-danger" fill="none" height="24" stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                     width="24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect height="20" rx="5" ry="5" width="20" x="2" y="2"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
                                </svg>
                                Instagram
                            </h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0 font-weight-bold">
                                <svg class="feather feather-facebook mr-2 icon-inline text-primary" fill="none" height="24" stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                     width="24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>
                                Facebook
                            </h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3" data-bind="foreach: userDetails">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: firstName"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Lastname</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: lastName"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: userName"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: emailAddress"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3"  data-bind="foreach: showBookmarks">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Bookmark Time</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: bookMarkTime"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Bookmarked Movie</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: titleId"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3"  data-bind="foreach: showComments">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Comment Text</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span data-bind="text: commentText"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-bind="">
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!--
    <div class="card-body" data-bind="foreach: showBookmarks">
        <div class="row" >
            <div class="col-sm-3">
                <h6 class="mb-0">TitleId</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <span data-bind="text: titleId"></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Bookmark Time</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <span data-bind="text: bookMarkTime"></span>
            </div>
        </div>
    </div>-->

<!--
</div>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card mt-3">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body" data-bind="foreach: showComments">
                        <span data-bind="text: commentText"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<!--
<div>
    <ul data-bind="foreach: userDetails">
        <li>
            <span data-bind="text: firstName"></span>
        </li>
    </ul>
    <ul data-bind="foreach: showBookmarks">
        <li>
            <span data-bind="text: titleId"></span>
        </li>
    </ul>
    <ul data-bind="foreach: showComments">
        <li>
            <span data-bind="text: commentText"></span>
        </li>
    </ul>
</div>
-->


<!--
<div class="row" data-bind="with: showComments">
    <ul>
        <li>
            <span data-bind="text: commentText"> </span>
        </li>
    </ul>
</div>-->

<!--   <button data-bind="click: getUserBookmarks" class="btn btn-primary my-2 my-sm-0"
           data-toggle="button" aria-pressed="false" autocomplete="off" type="submit">Get book</button>
    <h6 class="d-flex align-items-center mb-3" data-bind="foreach: showComments"> Comments on Movies </h6> 
   <hr>
   <div class="row" data-bind="foreach: showBookmarks">
   <h1>Bookmark: <span data-bind="text: titleId"></span></h1>
   </div> -->

<!--
<button aria-pressed="false" autocomplete="off"
        class="btn btn-primary my-2 my-sm-0" data-bind="click: getUserComments" data-toggle="button" type="submit">Get Comments
</button>
<hr>
-->


<!-- <form method="post">
    <input id="firstname" data-bind="value: changeFirstname" type="text">
    <input id="lastname" data-bind="value: changeLastname" type="text">
    <input id="email" data-bind="value: changeEmail" type="text">
    <input id="username" data-bind="value: changeUsername" type="text">
    <input data-bind="click: updateUser" 
       type="submit">
</form>-->