<div class="loginBody">
    <div class="loginBox">
        <img class="user" height="100px" src="https://i.ibb.co/yVGxFPR/2.png" width="100px">
        <h3 class="signInUser">Sign in here</h3>
        <form method="post">
            <div class="inputBox">
                <input data-bind="value: email" id="email" name="Email" placeholder="Enter your email" type="text">
                <input data-bind="value: password" id="password" name="Password" placeholder="Password" type="password">
            </div>

            <input data-bind="click:loginUser" name="" type="submit" value="Login">
        </form>
        <a class="passwordWord" href="#">Forget Password<br> </a>

        <div class="text-center">
            <p class="sign-up" style="color: #59238F;">Sign-Up</p>
        </div>

    </div>
</div>