<h1> JUST WAT EVER </h1>

<button data-bind="click: getUserData" class="btn btn-primary my-2 my-sm-0"
        data-toggle="button" aria-pressed="false" autocomplete="off" type="submit">Search</button>


<!--
<div data-bind="value: getUserData">
    <div class="row" data-bind="foreach: userDetails">
        <div class="col-lg-4">
            <h5>FirstName: <span data-bind="text: firstName"></span></h5>
            <h5>LastName: <span data-bind="text: lastName"></span> </h5>
            <h5>Username: <span data-bind="text: userName"></span></h5>
            <h5>Email: <span data-bind="text: emailAddress"></span></h5>
            <br>
        </div>
    </div>
  
</div>
-->

<!--
<button type="button" data-bind="click:getComments" data-toggle="button">GetComments</button>
<div data-bind="foreach: showComments">
    <h5>CommentText: <span data-bind="text: commentText"></span> </h5>
</div>