<div class="loginBody">
    <div class="loginBox">
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3 class="signInUser">Sign in here</h3>
        <form method="post">
            <div class="inputBox">
                <input id="firstname" data-bind="value: firstname" type="text" name="Email" placeholder="Enter your first name">
                <input id="lastname" data-bind="value: lastname" type="text" name="lastname" placeholder="Enter your last name">
                <input id="username" data-bind="value: username" type="text" name="username" placeholder="Enter your username">
                <input id="emailaddress" data-bind="value: emailaddress" type="text" name="emailaddress" placeholder="Enter your email">
                <input id="password" data-bind="value: password" type="password" name="password" placeholder="Password">
            </div>
            <input data-bind="click: createuser" type="submit" name="" value="Register" >
        </form>
    </div>
</div>