<div class="loginBody">
    <div class="loginBox">
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3 class="signInUser">Sign in here</h3>
        <form method="post">
            <div class="inputBox">
                <input id="email" data-bind="value: email" type="text" name="Email" placeholder="Enter your email">
                <input id="password" data-bind="value: password" type="password" name="Password" placeholder="Password">
                <input id="something" data-bind="value: password" type="password" name="Password" placeholder="Password">
                <input id="else" data-bind="value: password" type="password" name="Password" placeholder="Password">
            </div>
            <input type="submit" name="" value="Register" >
        </form>
    </div>
</div>