<h2>Popular Titles</h2>
<div class="container-xl mb-5">
<div class="row" data-bind="foreach: popularTitles">
    <div class="col-12 col-md-6 col-lg-3" data-bind="click: $parent.selectTitle">
        <div class="card shadow-sm mb-3">
            <img alt="title" class="card-img-top" data-bind="attr: { src: poster }" height="420" onerror="this.onerror=null;this.src='https://i.redd.it/yprohh8wtdd21.png';" width="100"/>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted" data-bind="text: primaryTitle"></small>
                    <small class="text-muted" data-bind="text: startYear"></small>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted" data-bind="text: genres"></small>
                    <small class="text-muted" data-bind="text: averageRating"></small>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <br>
            <button onclick="bottomFunction()" class="btn btn-primary" id="prevBtn" data-bind="click: showPrev, enable: enablePrev">Prev</button>
            <button onclick="topFunction()" id="myBtn" class="btn btn-primary" data-bind="click: showNext, enable: enableNext">Next</button>
        </div>
        <div>
            Page size: <select data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
        </div>
    </div>
    
</div>
