<div class="titleInfoImg">
    <div class="overlayTitleInfo">
       <div class="textMovie" data-bind="with: titles">
                   <img class="img-fluid poster" data-bind="attr:{src: poster}" onerror=src="resources/image-placeholder.svg" />
                   <h2 data-bind="text: primaryTitle"> </h2>
                   <p>Plot: <span data-bind="text: plot"> </span> </p>
                   <p>Start Year: <span data-bind="text: startYear"> </span> </p>
                   <p>End Year: <span data-bind="text: endYear"> </span> </p>
                   <p>Genres: <span data-bind="text: genres"> </span> </p>
                   <p>Awards: <span data-bind="text: awards"> </span> </p>
                   <p>Rating: <span data-bind="text: averageRating"> </span>  </p>
           </div>
       </div>
    </div>
</div>





<!--
<div>
    <div class="container" data-bind="with: titles">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h2 data-bind="text: primaryTitle"> </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img class="img-fluid poster" data-bind="attr:{src: poster}" onerror=src="resources/image-placeholder.svg" />
            </div>
            <div class="col-sm-12 col-lg-6">
                <button type="button" class="btn btn-primary" data-bind="click: $parent.addToBookmarks">Add to bookmarks +</button>
            </div>
            <div class="col-sm-12 col-lg-6">
                <p>Start Year: <span data-bind="text: startYear"> </span> </p>
                <p>End Year: <span data-bind="text: endYear"> </span> </p>
                <p>Genres: <span data-bind="text: genres"> </span> </p>
                <p>Plot: <span data-bind="text: plot"> </span> </p>
                <p>Awards: <span data-bind="text: awards"> </span> </p>
                <p>Rating: <span data-bind="text: averageRating"> </span>  </p>
                <br>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <div class="form-group">
                                <h3>Rate the movie:</h3>
                                <label for="rating">Rating (between 1 and 10):</label>
                                <input id="rating" data-bind="value: $parent.ratingNumber" type="number"  min="1" max="10">
                                <button type="button" class="btn btn-primary" data-bind="click: $parent.addRating">Submit Rating</button>
                                <h4>Write a Review:</h4>
                                <label for="exampleFormControlTextarea2">Title review:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" data-bind="value: $parent.commentText"></textarea>
                                <button type="button" class="btn btn-primary" data-bind="click: $parent.addTitleReview">Submit Review</button>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>'
            </div>
        </div>
    </div>
</div>-->
