<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" data-bind="foreach: titles">
        <div class="col">
            <div class="card shadow-sm">
                <img data-bind="attr: { src: poster }"/>
                <div class="card-body">
                    <p class="card-text" data-bind="text: primaryTitle"></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    Page size: <select data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
</div>
<div class="row" data-bind="for each: titles">
    <div  class="col-sm-10 col-md-5 col-lg-4" data-bind="click: $parent.selectTitle">
        <div class="primary_title" data-bind="text: primaryTitle"></div>
        <div  class="poster-container">
        </div>
    </div>
</div>
<div>
    <br>
    <button class="btn btn-primary" data-bind="click: showPrev, enable: enablePrev">Prev</button>
    <button class="btn btn-primary" data-bind="click: showNext, enable: enableNext">Next</button>
</div>