* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #f9f9f9;
}

#commentField #post {
    border: none;
    border-radius: 5px;
}

/* Navigation Bar */
#logo{
    width: 100%;
    height: 100%;
    max-width: 150px;
}
@media screen and (max-width: 600px) {
    #logo {
        max-width: 100px;
    }
}
